@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap');

/* CSS Variables for Color Palette */
:root {
    /* Primary Colors */
    --background-color: #121211; /* Very dark gray for a futuristic feel */
    --text-color: wheat; /* Sunflower for text */
    --accent-color: #FF6565; /* Neon pink */
    --dark-accent-color: #ab3838; /* Plum */
    --secondary-accent: #ffd24b; /* Peach */
    --button-hover-color: #ff4b4b; /* Slightly darker pink for hover effects */
    --button-border-color: #803939; /* Darker shade for button borders */
    --card-background: #292825; /* Slightly lighter dark gray */
    --highlight-color: #ffef99; /* For highlighting elements */
    --shadow-color: rgba(0,0,0,0.5); /* Shadow for cards and elements */
    --overlay-color: rgba(0, 0, 0, 0.8); /* Dark overlay for lightbox */
}

/* Browser scrollbar styles */
::-webkit-scrollbar {
    width: 12px; /* Width of the entire scrollbar */
}

::-webkit-scrollbar-track {
    background: var(--background-color); /* Track color, matching background */
}

::-webkit-scrollbar-thumb {
    background: var(--card-background); /* Color of the scroll thumb */
    border-radius: 6px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
    background: var(--button-border-color); /* Slightly darker color for hover effect */
}

/* Base Styles */
.wrapper {
    margin: 0px 20px;   /* side margin utility */
}

body {
    font-family: 'Kantumruy Pro', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0px 0px;
}

h1, h2, h3 {
    color: var(--secondary-accent);
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    border-radius: 5px;
}

.ingredients li {
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

/* Form Styles */
form {
    max-width: 100%;
    margin: 0 0;
}

label {
    display: block;
    margin-top: 10px;
    color: var(--accent-color);
    font-size: 1em;
}

input, textarea {
    width: 95%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    background-color: var(--background-color);
    color: wheat;
}

textarea {
    resize: vertical;
}

input::file-selector-button {
    background-color: var(--button-border-color);
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    padding: 5px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Kantumruy Pro', sans-serif;
    font-size: 1.1em;
    margin-right: 10px;
}

input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0 auto;
    border: none;
}

/* Styling the track (the background of the slider) */
input[type="range"]::-webkit-slider-runnable-track {
    width: 90%;
    height: 8px;
    cursor: pointer;
    background: var(--card-background); /* Blue background for the track */
    border-radius: 5px;
}

/* Styling the thumb (the draggable part) */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: var(--highlight-color); /* Orange thumb for Webkit */
    cursor: pointer;
    border-radius: 50%;
    margin-top: -4px; /* Center the thumb */
}

button {
    background-color: transparent;
    color: var(--accent-color);
    padding: 5px 20px;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 1em;
    font-family: 'Kantumruy Pro', sans-serif;
}

#prep_time_value, #cook_time_value {
    color: var(--text-color)
}

.feed {
    font-size: .8em;
    font-style: italic;
    color: #919191;
}

/* Header Styles */
.sticky-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--background-color);
    padding: 10px 0;
}

.header-section {
    background-color: transparent;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-section h1 {
    font-size: 1.2em;
    margin: 0;
    color: #919191;
}

.header-section .add-button {
    font-size: 1em;
}

.total-recipes {
    font-size: 1em;
    color: var(--accent-color);
    margin-top: 5px;
    padding: 5px 10px;
    border: solid 1px var(--accent-color)
}

.encouragement {
    background-color: var(--card-background);
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    font-style: italic;
    color: var(--accent-color);
    margin-top: 20px;
}

/* Grid Layouts */
.grid-container, .recipe-grid, .photo-gallery {
    display: grid;
    gap: 20px;
}

.grid-container {
    grid-template-columns: 1fr 1fr;
}

.recipe-grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.photo-gallery {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    margin-top: 10px;
}

.photo-block {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 150px);
    margin-top: 10px;
}

/* Card Styles */
.card {
    background-color: var(--card-background);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px var(--shadow-color);
}

.card h2 {
    margin-top: 0;
}

.recipe-card {
    background-color: var(--card-background);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px var(--shadow-color);
    min-height: 150px; /* Or adjust to your liking */
    display: flex;
    flex-direction: column;
    justify-content: start;
    transition: all 0.3s ease; /* Smooth transition for all properties */
}

.recipe-card .recipe-card-badge {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.recipe-card h3 {
    margin: 0;
}

.recipe-card:hover {
    box-shadow: 0 5px 10px black;
    transform: translateY(-2px);
}

/* Additional effect for when the mouse moves off the button */
.recipe-card:active {
    transform: translateY(0);
    box-shadow: none;
}

/* Ensure the entire card is clickable */
.recipe-card-link {
    text-decoration: none; /* Remove underline from links */
    color: inherit; /* Inherit text color from parent */
    display: block; /* Ensure it covers the entire card area */
    height: 100%; /* Fill the height of the li */
}

.big-recipe-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.big-recipe-card h1 {
    font-size: 2em;
    margin: 20px;
    text-align: center;
}

.big-recipe-card-meta {
    color: var(--text-color);
    text-align: center;
}

.ingredient {
    color: rgb(243, 243, 243);
    background-color: transparent;
    border: 1px solid #428adc;
    font-size: 0.8em;
    padding: 0.3em;
    border-radius: 5px;
}

.more-ingredients {
    color: rgb(243, 243, 243);
    background-color: transparent;
    border: 1px solid #428adc;
}

/* Recent Recipes */
.recent-recipes {
    padding: 0;
}

.recent-recipes li {
    margin-bottom: 5px;
    padding: 0;
}

.recent-recipes a {
    font-size: 1em;
    color: var(--secondary-accent);
}

.date {
    font-size: 1em;
    color: var(--button-hover-color);
}

/* View Recipe Page Styles */
.recipe-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px;
    color: var(--text-color);
}

.recipe-container h1 {
    display: block;
    text-decoration: underline;
    font-size: 1.8em;
    margin: 0px 0px;
}

.metadata {
    color: var(--accent-color);
    font-size: 1em;
}

.content-section {
    background-color: transparent;
    padding: 0;
    border-radius: 8px;
}

.content-section h3 {
    margin-top: 0;
}

.content-section ul {
    width: max-content;
    margin: 0 auto;
    border: 1px solid var(--accent-color);
    padding: 0px 20px 20px 20px;
    border-radius: 4px;
}

.actions {
    margin-top: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.add-button {
    border: 1px solid var(--button-hover-color);
    color: var(--accent-color);
    padding: 10px 20px;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease; /* Smooth transition for all properties */
    margin: 0;
}

.gallery-button {
    border: 1px solid #428adc;
    color: #428adc;
    padding: 10px 20px;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease; /* Smooth transition for all properties */
    margin: 0;
}

.menu-button {
    border: 1px solid #e0b843;
    color: #ffd24b;
    padding: 10px 20px;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease; /* Smooth transition for all properties */
    margin: 0;
}

.submit-button {
    background-color: transparent;
    border: 1px solid #79a74f;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease; /* Smooth transition for all properties */
    margin: 0;
}

.submit-button:hover {
    /* Change background color slightly */
    background-color: #2f421d;
    border: 1px solid transparent;
}

.add-button:hover {
    /* Change background color slightly */
    background-color: var(--dark-accent-color);
    color: white;
    border: 1px solid transparent;
}

.gallery-button:hover {
    /* Change background color slightly */
    background-color: #356091;
    color: white;
    border: 1px solid transparent;
}

.menu-button:hover {
    /* Change background color slightly */
    background-color: #a88c37;
    color: white;
    border: 1px solid transparent;
}
  

.pdf-button, .back-button, .update-button, .delete-button {
    background-color: transparent;
    border: 1px solid var(--button-border-color);
    color: var(--accent-color);
    padding: 10px 20px;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    margin: 0;
}

.pdf-button i, .back-button i, .update-button i, .submit-button i, .delete-button i, .add-button i, .gallery-button i, .menu-button i {
    margin-right: 5px; /* Space between icon and text */
}

.search-button {
    background-color: var(--button-border-color);
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    padding: 10px 40px;
    border-radius: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    margin: 0;
}

.search-button:hover {
    color: white;
}

.neutral-button {
    background-color: transparent;
    border: 1px solid #919191;
    color: #919191;
    padding: 10px 40px;
    border-radius: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    margin: 0;
}

.neutral-button i {
    margin-left: 5px;
}

/* Photo Gallery */
.photo-item {
    position: relative;
    overflow: hidden;
    aspect-ratio: 1;
    border-radius: 8px;
}

.photo-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s;
}

.delete-image {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--card-background);
    color: var(--accent-color);
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
    font-size: 0.9em;
    opacity: 0;
    transition: opacity 0.3s;
}

.photo-item:hover .delete-image {
    opacity: 1;
}

.photo-item:hover img {
    opacity: 0.7;
    border-radius: 8px;
}

/* Lightbox */
.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--overlay-color);
    z-index: 1000;
}

.lightbox img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(91, 91, 91, 0.079);
}

.lightbox-info {
    position: fixed;
    top: 40%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Modern Form Styling */
.modern-form label {
    font-size: 0.7em;
    margin-bottom: 5px;
}

.modern-form input {
    font-size: 0.9em;
    border: 1px solid var(--accent-color);
}

.group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    
}

.sub-group-start, .sub-group-end {
    width: 95%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Medium Screens */
@media (max-width: 768px) {
    .grid-container, .big-recipe-card, .group {
        grid-template-columns: 1fr;
    }
    
    .header-content {
        flex-direction: column;
    }

    .header-section {
        margin-top: 10px;
    }

    .photo-block {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, auto);
        margin: 10px 0px 40px 0px;
    }
}

/* Small Screens */
@media (max-width: 480px) {
    .header-section h1 {
        margin-bottom: 10px;
    }

    .pdf-button, .back-button, .update-button, .menu-button, .gallery-button {
        padding: 5px; /* Reduce padding for icons */
    }
    
    .pdf-button span, .back-button span, .update-button span, .menu-button span, .gallery-button span {
        display: none; /* Hide the text */
    }
    
    .pdf-button i, .back-button i, .update-button i, .menu-button i, .gallery-button i {
        margin: 0px 10px; /* Adjust margin since text is gone */
    }
}