{% extends "layout.html" %}

{% block title %}Photo Gallery{% endblock %}

{% block content %}
    <div class="wrapper">
        <header class="header-section">
            <div class="header-content">
                <h1><i class="fa-solid fa-images"></i> Photo Gallery</h1>
                <div class="actions">
                    <a href="{{ url_for('index') }}" class="add-button"><i class="fa-solid fa-vault"></i> <span>Recipe Vault</span></a>
                    <a href="#" class="gallery-button"><i class="fa-solid fa-images"></i> <span>Gallery</span></a>
                    <a href="#" class="menu-button"><i class="fa-solid fa-map"></i> <span>Menu</span></a>
                </div>
                
            </div>
        </header>
    
        <section class="middle-section">
            <!-- Status Messages -->
            <p class="results"><small>{{ results }}</small></p>

            <!-- Search Feature -->
            <form id="search-form" method="GET" action="{{ url_for('photo_gallery') }}">
                <div style="display: grid; grid-template-columns: 1fr; gap: 20px;">
                    <div class="form-group">
                        <label for="keyword" style="display: none;">Keyword</label>
                        <input type="text" id="keyword" name="keyword" placeholder="Search by keyword" value="{{ keyword or '' }}" autofocus>
                    </div>
                    <div class="actions">
                        <button type="submit" class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
                        <button type="button" class="neutral-button" id="clear-filters" onclick="window.location = '/photo_gallery#';">Clear</button>
                    </div>
                </div>
            </form>
            <br>
        </section>

        <!-- Gallery -->
        <section>
            {% if images %}
                <section class="gallery-collection">
                    {% for image in images %}
                        <div class="gallery-item">
                            <img src="{{ image['image_path'] }}" 
                                 alt="{{ image['title'] }}" 
                                 data-title="{{ image['title'] }}"
                                 tabindex="0"
                                 role="button"
                                 aria-label="View {{ image['title'] }} image"
                                 loading="lazy">
                        </div>
                    {% endfor %}
                </section>
            {% else %}
                <p>No images to show.</p>
            {% endif %}
        </section>

    
    </div>
{% endblock %}